<!DOCTYPE html>
<html>
<head>
  <title>GitSession</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% include some tag %>
  <%= csrf_meta_tags %>
</head>
<body>
New change
<div class="header">
  <div class="logo"></div>
  <div class="name"></div>
  <nav>
    <%= link_to 'Home' %>
    <%= link_to 'Contact us' %>
    <%= link_to 'About Us' %>
    <%= link_to 'Git star' %>
  </nav>
</div>
More New change
<%= yield %>

</body>
</html>
